.c-article-show {
    display: flex;
	flex: 1 1 auto;
	flex-direction: column;

	&__header {
		padding: 2rem 1.5rem;
		border-bottom: 1px solid clr(bg, d-2);
	}

	&__date {
		@include textStyle(tiny);
		color: clr(txt, base);
		margin-bottom: .5rem;
	}

	&__title {
		@include textStyle(regular);
		color: clr(txt, alt);
	}

	&__description {
		@include textStyle(small);
		color: clr(txt, base);
		margin-top: 1rem;
	}

}