.c-article-list {
	display: flex;
	flex: 0 1;
	flex-direction: column;

	&__wrap {
		display: flex;
		flex-direction: column;
		flex: 0 1 auto;
		width: 25rem;
		background: clr(bg, d-1);
		position: relative;
		z-index: 10;
		height: 100%;
		min-height: 100%;

		&:before {
			content: '';
			position: absolute;
			width: 1px;
			border-right: 1px solid clr(bg, d-1, 7);
			top: 0;
			bottom: 0;
			right: 0;
			z-index: 2;
		}
	}

	&__content {
		flex: 1 1 auto;
		position: relative;
		padding-right: 1px;
	}

	&__no-content {
		flex: 1 1 auto;
		position: relative;
		padding: 1.5rem;
	}

	&__item {
		border-bottom: 1px solid clr(bg, d-2);
		position: relative;
	}

	&__link {
		@include transitionAll();
		@include activeNavigator();
		position: relative;
		padding: 2rem 1.5rem;
		display: flex;
		flex-direction: column;

		&:hover,
		&:focus,
		&--is-active {
			text-decoration: none;
			background: clr(bg, d-1, 7);
		}
	}

	&__date {
		display: flex;
		align-content: center;
		margin-bottom: 0.5rem;

		&-ago {
			opacity: 0.5;
			margin-left: 0.5rem;
		}
	}

	&__description {
		margin-top: 1rem;
	}

	&__favourite-badge {
		position: absolute;
		top: 0.75rem;
		right: 1rem;
		width: 1rem;
		height: 1rem;
		font-size: 1rem;
		color: clr(txt, base);
	}

	&__tags {
		margin-top: 1rem;
	}
}
