.c-article-show {
    display: flex;
	flex: 1 1 auto;
	flex-direction: column;

	&__header {
		flex: 0 1 auto;
		padding: 2rem 1.5rem;
		border-bottom: 1px solid clr(bg, d-2);
	}

	&__date {
		@include textStyle(tiny);
		color: clr(txt, base);
		margin-bottom: .5rem;
	}

	&__title {
		@include textStyle(h1);
		color: clr(txt, alt);
	}

	&__description {
		@include textStyle(small);
		color: clr(txt, base);
		margin-top: .5rem;
	}

	&__content {
		flex: 1 1 auto;
		height: 100%;
		margin-bottom: 2rem;
		display: flex;
		flex-direction: column;
	}

}