.c-article-list {
    display: flex;
	flex: 0 1;
    flex-direction: column;
    
    &__wrap {
		display: flex;
		flex-direction: column;
		flex: 0 1 auto;
		width: 25rem;
		background: clr(bg, d-1);
		position: relative;
		z-index: 10;
		height: 100%;
		min-height: 100%;

		&:before {
			content: '';
			position: absolute;
			width: 1px;
			border-right: 1px solid clr(bg, d-1, 7);
			top: 0;
			bottom: 0;
			right: 0;
			z-index: 2;
		}

		&:after {
			opacity: 0.5;
			@include gradientHorizontal();
			transform: rotate(180deg);
			content: '';
			position: absolute;
			width: 0.75rem;
			top: 0;
			bottom: 0;
			right: -0.75rem;
			z-index: 2;
		}
	}
}