.c-category {
	display: flex;
	flex: 0 1;
	flex-direction: column;

	&__wrap {
		display: flex;
		flex-direction: column;
		flex: 0 1 auto;
		width: 16rem;
		background: clr(bg, d-1);
		position: relative;
		height: 100%;
		min-height: 100%;

		&:before {
			content: '';
			position: absolute;
			width: 1px;
			border-right: 1px solid clr(bg, d-1, 7);
			top: 0;
			bottom: 0;
			right: 0;
			z-index: 2;
		}

		&:after {
			opacity: 0.5;
			@include gradientHorizontal();
			transform: rotate(180deg);
			content: '';
			position: absolute;
			width: 0.75rem;
			top: 0;
			bottom: 0;
			right: -0.75rem;
			z-index: 2;
		}
	}

	&__content {
		flex: 1 1 auto;
		position: relative;
	}

	&__group {
		@include transitionAll();
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid clr(bg, d-2);

		&-title {
			@include textStyle(tiny);
			@include textStyle(uppercase);
			cursor: pointer;
			font-weight: 600;
			flex: 1 1 auto;
			color: clr(txt, base);
			padding: 0.5rem 1.5rem;
			margin: 2px 0;
			border: 1px transparent;
			align-items: center;
			display: flex;
		}

		&-name {
			flex: 1 1 auto;
		}

		&-toggle {
			flex: 0 0 auto;
			position: relative;
			width: 1.75rem;
			height: 1.75rem;
			@include transitionAll;

			&:before {
				transform: rotate(90deg);
				margin: .5rem 0 0 .45rem;
				position: absolute;
			}

			&--is-collapsed {
				transform: rotate(180deg);
			}
		}

		&-content {
			transition: all 150ms ease-in-out;
			flex: 1 1 auto;
			max-height: 10000px;
			overflow: hidden;
			opacity: 1;

			&--is-collapsed {
				opacity: 0;
				min-height: 0;
				max-height: 0;
			}
		}
	}

	&__dropzone {
		@include transitionAll();
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		display: flex;
		align-items: center;

		&--is-active {
			border: 1px dashed rgba(clr(clr, base), 0.5) !important;
			margin: 3px 1rem;
			min-height: 2.5rem;
			background: transparent !important;
			&:before {
				width: 0 !important;
			}

			.c-category__link-indicator {
				display: none;
			}
		}
	}

	&__link {
		@include transitionAll();
		@include activeNavigator();

		flex: 1;
		display: flex;
		padding: 0.5rem 1.5rem;
		align-items: center;
		color: clr(txt, alt);
		margin: 0 0;
		position: relative;

		&:hover,
		&--is-active {
			color: clr(txt, alt);
			background: clr(bg, d-1, 7);
			text-decoration: none;
		}

		&-title {
			flex: 1 1 auto;
			margin-right: 1rem;
			@include textStyle(small);
		}

		&-indicator {
			flex: 0 1 auto;
		}
	}
}
