.c-library {
  display: flex;
  flex: 0 1;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    width: 16rem;
    background: clr(bg, d-1);
    position: relative;
    z-index: 10;
    height: 100%;
    min-height: 100%;
    padding: 2rem 0;

    &:before {
      content: '';
      position: absolute;
      width: 1px;
      border-right: 1px solid clr(bg, d-1, 7);
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
    }

    &:after {
      opacity: .5;
      @include gradientHorizontal();
      transform: rotate(180deg);
      content: '';
      position: absolute;
      width: .75rem;
      top: 0;
      bottom: 0;
      right: -.75rem;
      z-index: 2;
    }
  }

  &__list {
    display: flex;
    padding: 0 1.5rem;

    &-title {
      flex: 1 1 auto;
      @include textStyle(regularUppercase);
    }

    &-indicator {
      flex: 0 1 auto;
    }

  }

}