.c-page {
	&__default {
		display: flex;
		flex: 1 1 auto;
		width: 100%;
		flex-direction: row;
		overflow: hidden; // hack to remove scrollbar
	}

	&__view {
		&--index {
			flex-direction: column;
			@include media-breakpoint-up(lg) {
				flex-direction: row;
			}
		}
	}
}
