.c-panel {
	display: flex;
	width: 100%;
	height: 3rem;
	flex: 0 0 auto;
	flex-direction: column;

	@include media-breakpoint-up(lg) {
		flex-direction: row;
		width: 5rem;
		height: 100%;
	}

	&__gradient {
		display: none;
		@include media-breakpoint-up(lg) {
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 1.5rem;
			@include gradientHorizontal(0.025);
		}
	}

	&__list {
		display: flex;
		flex: 1 1 auto;
		align-items: center;
		flex-direction: row;
		background: clr(bg, d-2);
		position: relative;
		@include media-breakpoint-up(lg) {
			align-items: initial;
			flex-direction: column;
		}
	}

	&__item {
		color: clr(txt);
		text-decoration: none;
		font-weight: 600;
		font-size: 1.0rem;
		text-transform: uppercase;
		position: relative;
		display: block;

		@include media-breakpoint-up(lg) {
			@include textStyle(nonSelect);
			@include transitionAll();
			@include activeNavigator();
			margin-top: 2rem;
			font-size: 1.25rem;
		}

		&:hover {
			text-decoration: none;
			color: clr(txt, alt);
			cursor: pointer;
		}

		&--is-active {
			color: clr(txt, alt);
		}

		&--last {
			margin-bottom: 2rem;
		}
	}

	&__box {
		@include transitionAll();
		margin-left: 1rem;
		border-radius: 100%;
		background: clr(bg);
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		background-size: cover;
		background-position: center;
		width: 2rem;
		height: 2rem;

		@include media-breakpoint-up(lg) {
			width: 3rem;
			height: 3rem;
		}
	}
}
