{
    "semi": false,
    "trailingComma": "none",
    "singleQuote": true,
    "printWidth": 160,
    "tabWidth": 4,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "vueIndentScriptAndStyle": true,
    "useTabs": true
  }