.c-form {
	&__formfield {
		&--inherit-style {
			// color: inherit;
			// font-size: inherit;
			// font-weight: inherit;
		}

		&--transparent {
			// border: 0px solid transparent;
			// background: transparent;
		}
	}

	&__input,
	&__textarea {
		width: 100%;
	}

	&__cte {
		@include transitionAll();
		color: inherit;
		font-size: inherit;
		font-weight: inherit;
		background: transparent;
		border: 1px solid transparent;
		width: calc(100%);
		padding: 0;

		&:hover {
		}

		&--edit-field {
		}

		&--text {
			display: inline-flex;
			width: auto;
			cursor: pointer;
		}
	}
}
