.c-layermenu {
    background-color: clr(bg, d-2);
    border: 1px solid clr(bg, d-3);
    border-radius: .25rem;
    box-shadow: .1rem .1rem .5rem .1rem rgba(0,0,0,.2);
    display: none;
    min-width: 18rem;
    max-width: 30rem;
    &--is-active {
        display: block;
        z-index: 999;
    }

    &__wrap {
        margin: 0;
        padding: .25rem;
        list-style: none;
    }

    &__divider {
        border-bottom: 1px solid clr(bg, d-1, 3, 'w');
        margin: .5rem 1rem;
        height: 1px;
      }

    &__item {
        margin: .125rem 0;
        display: flex;
        align-content: center;
        align-items: center;
    }

    &__icon {
        flex: 0 0 1.5rem;
    }

    &__suffix {
        flex: 0 0 auto;
        margin-left: 1rem;
    }

    &__text {
        flex: 1 1 auto;
    }

    &__group {
        font-weight: 600;
        display: flex;
        flex: 1;
        padding: .75rem 1.5rem .75rem ;
    }

    &__link {
        @include transitionAll();
        display: flex;
        flex: 1 1 auto;
        padding: .75rem 1.5rem;
        cursor: pointer;
        align-items: center;

        &:hover {
            text-decoration: none;
            background: clr(bg, d-3);
        }
    }
}