.c-layermenu {
    background-color: clr(bg, d-2);
    border: 1px solid clr(bg, d-3);
    border-radius: .25rem;
    box-shadow: .1rem .1rem .5rem .1rem rgba(0,0,0,.2);
    display: none;
    overflow: hidden;
    min-width: 15rem;
    z-index: -1; 
    opacity: 0;
    transform: scale(0);
    &--is-active {
        transform: scale(1);
        display: block;
        z-index: 999;
        opacity: 1;
    }

    &__wrap {
        margin: 0;
        padding: .25rem;
        list-style: none;
    }

    &__item {
      border-bottom: 1px solid clr(bg, d-3);
      &:last-child {
          border-bottom: 0;
      }
    }

    &__link {
        @include transitionAll();
        @include textStyle('contextMenu');
        @include textStyle('nonSelect');
        display: flex;
        padding: .75rem 1.5rem;
        color: clr(txt, alt);
        cursor: pointer;
        &:hover {
            text-decoration: none;
            background: clr(bg, d-3);
            color: clr(txt, alt);
        }
    }
}