.c-link {
    color: clr(clr, base);
    cursor: pointer;

    &--underlined-on-hover {
        &:hover {
            text-decoration: underline;
        }
    }

    &--pointer {
        cursor: pointer;
    }
}