.c-panel-section {
	min-height: 5rem;
	align-items: center;
	padding: 0.5rem 1.5rem;
	display: flex;
	border-bottom: 1px solid clr(bg, d-2);
    flex: 0 0 auto;
    position: relative;
	overflow: hidden;

	&__title {
		@include textStyle(hyphens);
		margin-right: 1rem;
		flex: 1 1 auto;
	}

	&__options {
		flex: 0 0 auto;
	}
}
