.c-tag {
	margin-bottom: -0.5rem;

	&__item {
		@include textStyle(tiny);
		@include textStyle(uppercase);
		@include textStyle(nonSelect);
		display: inline-flex;
		flex: 0 1 auto;
		padding: 0.25rem 1rem;
		margin-right: 0.5rem;
		margin-bottom: 0.5rem;
		background: clr(bg, l-1);
		color: clr(txt, base);
		border-radius: 0.25rem;
		white-space: nowrap;

		align-items: center;
		align-content: center;
		justify-content: center;
		justify-self: center;
		justify-items: center;

		&--editable {
			padding-right: 0.5rem;
		}

		&--clickable {
			cursor: pointer;
		}

		&-close {
			font-size: 0.65rem;
			margin-left: 0.5rem;
			display: flex;
			padding: 0.25rem;
			border-radius: 0.25rem;
		}
	}
}
