@mixin textStyle($style) {
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);

	@if $style == 'nl2br' {
		white-space: pre-line;
	}

	@if $style == 'nonSelect' {
		-ms-user-select: None;
		-moz-user-select: None;
		-webkit-user-select: None;
	}

	@if $style == 'hyphens' {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	@if $style == 'canSelect' {
		-ms-user-select: text;
		-moz-user-select: text;
		-webkit-user-select: text;
	}

	@if $style == 'nonBreak' {
		white-space: nowrap;
	}

	@if $style == 'prominentHeadline' {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 1.5rem;
		line-height: 1;
	}

	@if $style == 'headline' {
		font-weight: 600;
		font-size: 1.15rem;
		line-height: 1;
	}

	@if $style == 'contentHeadline--1' {
		font-weight: 600;
		font-size: 2rem;
		line-height: 1;
		text-transform: uppercase;
	}

	@if $style == 'introduction' {
		font-size: 1.15rem;
		line-height: 130%;
	}

	@if $style == 'lead' {
		font-weight: 600;
		font-size: 2rem;
		line-height: 1;
		text-transform: uppercase;
	}

	@if $style == 'regular' {
		font-weight: 600;
		line-height: 130%;
		font-size: 1rem;
	}

	@if $style == 'small' {
		font-weight: 300;
		line-height: 130%;
		font-size: 0.9rem;
	}

	@if $style == 'tiny' {
		font-weight: 400;
		line-height: 130%;
		font-size: 0.8rem;
	}

	@if $style == 'bold' {
		font-weight: 600;
	}

	@if $style == 'uppercase' {
		text-transform: uppercase;
	}

	@if $style == 'regularUppercase' {
		@include textStyle(regular);
		@include textStyle(uppercase);
	}

	@if $style == 'smallUppercase' {
		@include textStyle(small);
		@include textStyle(uppercase);
	}

	@if $style == 'contextMenu' {
		@include textStyle(tiny);
	}

	@if $style == 'monospace' {
		font-family: monospace;
	}
}
