// Body
$body-bg: clr(bg);
$body-color: clr(txt);

// Fonts
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600");

// Typography
$font-family-sans-serif: 'Titillium Web', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 1200px,
	xl: 1400px,
	xxl: 2000px
);

$modal-lg: 750px;
$modal-md: 500px;
$modal-sm: 400px;
$modal-content-bg: clr(bg);
$modal-content-border-color: clr(bg, d-2);
$modal-header-border-color: clr(bg, d-2);
$modal-backdrop-bg: rgba(0,0,0,.75);

$tooltip-bg: clr(clr);
$tooltip-opacity: 1;

$primary: clr(clr);
//$secondary: map-get($clr, color-200);
//$danger: map-get($clr, color-300);